
@{
    Layout = null;
    var F = @Html.F();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnotherTest</title>
</head>
<body>
    <div> 
        This is a C# View test.
    </div>
</body>
</html>
