<!-- 9.9 echart在aspx上的使用测试 -->
@{
    ViewBag.Title = "echart测试页面";
    var F = @Html.F();
}

<!-- 引入echart到视图测试 -->
@section head {
    <script src="~/res/js/echarts.js"></script>
    <script src="~/res/js/echarts.min.js"></script>
}

@section body {
    <h2>MyTest</h2>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="sub" style="width: 600px;height:400px;"></div>
    @(F.Button().Text("这是一个按钮控件").OnClick("pressing"))

}

@section script {
    <script type="text/javascript">
        // main的配置
         // 基于准备好的dom，初始化echarts实例
         var myChart = echarts.init(document.getElementById('main'));

         // 指定图表的配置项和数据
         var option = {
             title: {
                 text: 'ECharts 入门示例'
             },
             tooltip: {},
             legend: {
                 data:['销量']
             },
             /* x轴元素设置 */
             xAxis: {
                 data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
             },
             /* y轴元素配置 */
             yAxis: {},
             /* 元素高度配置 */
             series: [{
                 name: '销量',
                 /* 选择图表类型 */
                 type: 'bar',
                 data: [5, 20, 36, 10, 10, 20]
             }]
         };

         // 使用刚指定的配置项和数据显示图表。
         myChart.setOption(option);

        // sub图表的配置
         echarts.init(document.getElementById('sub')).setOption({
             title: { text: 'Line Chart' },
             tooltip: {},
             toolbox: {
                 feature: {
                     dataView: {},
                     saveAsImage: {
                         pixelRatio: 2
                     },
                     restore: {}
                 }
             },
             xAxis: {},
             yAxis: {},
             series: [{
                 type: 'line',
                 smooth: true,
                 data: [[12, 5], [24, 20], [36, 36], [48, 10], [60, 10], [72, 20]]
             }]
         });
    </script>
}

